.header
  .header-logo
    wether-cloth
  .header-icon
    %h3.header-icon__name
      = current_user.name
    %ul.header-icon__lists
      %li.header-icon__lists-link
        = link_to new_post_path(current_user) do
          = icon('fas', 'pen-square', class: '.header-icon__lists-link-icon')
      %li.header-icon__lists-link
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: '.header-icon__lists-link-icon')  
  
  
.contents
  .contents-purpose
    .contents-purpose-text
      使用目的
    .contents-purpose-box
      = current_user.purpose
  
  .contents-weather
    .contents-weather-c
      = render "weather"

  .contents-cloth
    .contents-cloth-text
      オススメの服装
    .contents-cloth-image
      %img#translate-img{:src => ""}/
              
  .contents-comment
    .contents-comment-field
      コメント
  
    .contents-comment-text-a
      %input{name: "current_user_puropse", type: "hidden", value: current_user.purpose, class: 'current_user_purpose' }/
    .contents-comment-text-b

    
  .contents-post
    %a{ href: "/posts", class: "contents-post-text"} 他ユーザーの投稿




  